{% extends 'base.html.twig' %}

{% block title %}Poem index{% endblock %}

{% block body %}
    <h1>Poem index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Author</th>
                <th>Content</th>
                <th>Praise</th>
                <th>Created</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for poem in poems %}
            <tr>
                <td>{{ poem.id }}</td>
                <td>{{ poem.author }}</td>
                <td>{{ poem.content }}</td>
                <td>{{ poem.praise }}</td>
                <td>{{ poem.created ? poem.created|date('Y-m-d') : '' }}</td>
                <td>
                    <a href="{{ path('poem_show', {'id': poem.id}) }}">show</a>
                    <a href="{{ path('poem_edit', {'id': poem.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('poem_new') }}">Create new</a>
{% endblock %}
