{% extends 'base.html.twig' %}

{% block title %}
	{{poem.title}}
{% endblock %}

{% block body %}
	<h1 class="font-weight-lighter">{{poem.title}}</h1>
	<div class="row">
		<div class="col-8">
			<pre>{{poem.content}}</pre>
		</div>
		<div class="col-4">
			{{ include("author/_show.html.twig", {'author': poem.author})}}
			
		</div>
	</div>

	{# PRAISE BUTTON #}
	<a title="give praise" class="btn btn-primary" href="{{ path('poem_praise', {'id': poem.id}) }}">
		<i class="bi bi-hand-thumbs-up"></i>
		{{poem.praise}}
	</a>

	{# BACK BUTTON #}
	<a title="Back to list" class="btn btn-light" href="{{ path('poem_index') }}">
		<i class="bi bi-arrow-left-circle"></i>
	</a>

	{# EDIT BUTTON #}
	<a title="Edit" class="btn btn-primary" href="{{ path('poem_edit', {'id': poem.id}) }}">
		<i class="bi bi-pencil"></i>
	</a>


	{# DELETE BUTTON #}
	{{ include('poem/_delete_form.html.twig') }}
{% endblock %}
