<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>

		{# FAVICON #}
		<link rel="shortcut icon" href="https://avatars3.githubusercontent.com/u/19518999?s=460&v=4" />

		{% block stylesheets %}
			{# BOOTSTRAP CSS #}
			<link
			rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
			{# BOOTSTRAP ICONS CSS #}
			<link
			rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
			{# CUSTOM GLOBAL STYLES #}
			<link rel="stylesheet" href="{{ asset('assets/css/global.css')}}"/>
		{% endblock %}
	</head>
	<body>

		{# NAVIGATION #}
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
			<a class="navbar-brand" href="/">
				<i class="bi bi-book"></i>
				Poems collection</a>

			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div
				class="collapse navbar-collapse" id="navbarSupportedContent">
				{# {{app.request.get('_route')}} #}
				<ul
					class="navbar-nav mr-auto">

					{# HOME #}
					{% if app.request.get('_route') | trim == 'index' %}
						<li class="nav-item active">
							<a class="nav-link active" href="/">
								<i class="bi bi-house text-primary"></i>
								Home</a>
						</li>
					{% else %}
						<li class="nav-item ">
							<a class="nav-link" href="/">
								<i class="bi bi-house"></i>
								Home</a>
						</li>
					{% endif %}

					{# POEMS #}
					{% if app.request.get('_route') matches '/^poem_.*/' %}
						<li class="nav-item dropdown active">
							<a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown">
								<i class="bi bi-file-text text-primary"></i>
								Poems</a>
							{# DROPDOWN #}
							<div class="dropdown-menu" aria-labelledby="navbarDropdown">
								<a class="dropdown-item" href="{{ path('poem_best') }}">
									<i class="bi bi-trophy"></i>
									Best Poems</a>
								<a class="dropdown-item" href="{{ path('poem_index') }}">
									<i class="bi bi-files"></i>
									All Poems</a>
							</div>
						</li>
					{% else %}
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown">
								<i class="bi bi-file-text"></i>
								Poems</a>
							{# DROPDOWN #}
							<div class="dropdown-menu" aria-labelledby="navbarDropdown">
								<a class="dropdown-item" href="{{ path('poem_best') }}">
									<i class="bi bi-trophy"></i>
									Best Poems</a>
								<a class="dropdown-item" href="{{ path('poem_index') }}">
									<i class="bi bi-files"></i>
									All Poems</a>
							</div>
						</li>
					{% endif %}

					{# AUTHORS #}
					{% if app.request.get('_route') matches '/^author_.*/' %}
						<li class="nav-item dropdown active">
							<a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown">
								<i class="bi bi-person text-primary"></i>
								Authors</a>
							{# DROPDOWN #}
							<div class="dropdown-menu" aria-labelledby="navbarDropdown">
								<a class="dropdown-item" href="{{ path('author_top') }}">
									<i class="bi bi-trophy"></i>
									Top 3</a>
								<a class="dropdown-item" href="{{ path('author_index') }}">
									<i class="bi bi-person"></i>
									All Authors</a>
							</div>
						</li>
					{% else %}
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown">
								<i class="bi bi-person"></i>
								Authors</a>
							{# DROPDOWN #}
							<div class="dropdown-menu" aria-labelledby="navbarDropdown">
								<a class="dropdown-item" href="{{ path('author_top') }}">
									<i class="bi bi-trophy"></i>
									Top 3</a>
								<a class="dropdown-item" href="{{ path('author_index') }}">
									<i class="bi bi-person"></i>
									All Authors</a>
							</div>
						</li>
					{% endif %}

				</ul>
			</div>
		</nav>

		<div
			class="container">
			{# CONTENT GOES HERE #}
			{% block body %}{% endblock %}
		</div>
		{% block javascripts %}
			{# JQUERY #}
			<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>
			{# BOOTSTRAP JS #}
			<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js" integrity="sha384-LtrjvnR4Twt/qOuYxE721u19sVFLVSA4hf/rRt6PrZTmiPltdZcI7q7PXQBYTKyf" crossorigin="anonymous"></script>
		{% endblock %}
	</body>
</html>
